/* 阿里巴巴-普惠体-Light */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_wd86gqk3sjb.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_wd86gqk3sjb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_wd86gqk3sjb.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_wd86gqk3sjb.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_wd86gqk3sjb.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_wd86gqk3sjb.svg#AlibabaPuHuiTiL') format('svg');
  /* iOS 4.1- */
}


/* 阿里巴巴-普惠体-Heavy */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_fit3nqg7cyo.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_fit3nqg7cyo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_fit3nqg7cyo.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_fit3nqg7cyo.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_fit3nqg7cyo.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_fit3nqg7cyo.svg#AlibabaPuHuiTiH') format('svg');
  /* iOS 4.1- */
}


/* 阿里巴巴-普惠体-Medium */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_upfox0yym48.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_upfox0yym48.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_upfox0yym48.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_upfox0yym48.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_upfox0yym48.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_upfox0yym48.svg#AlibabaPuHuiTiM') format('svg');
  /* iOS 4.1- */
}


/* 阿里巴巴-普惠体-Bold */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_7tgbt3hn5yd.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_7tgbt3hn5yd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_7tgbt3hn5yd.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_7tgbt3hn5yd.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_7tgbt3hn5yd.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_7tgbt3hn5yd.svg#Alibaba-PuHuiTi-Bold') format('svg');
  /* iOS 4.1- */
}


/* 阿里巴巴-普惠体-Regular */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_uwkpfykg8n.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_uwkpfykg8n.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_uwkpfykg8n.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_uwkpfykg8n.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_uwkpfykg8n.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_uwkpfykg8n.svg#Alibaba-PuHuiTi-Regular') format('svg');
  /* iOS 4.1- */
}


/* 杨任东竹石体-Bold */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_89a0um086ej.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_89a0um086ej.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_89a0um086ej.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_89a0um086ej.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_89a0um086ej.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_89a0um086ej.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}


/* 思源宋体heavey */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_lnmj90tsa5q.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_lnmj90tsa5q.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_lnmj90tsa5q.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_lnmj90tsa5q.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_lnmj90tsa5q.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_lnmj90tsa5q.svg#after') format('svg');
  /* iOS 4.1- */
}


/* 阿里汉仪智能黑体 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_tvxux0062q.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_tvxux0062q.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_tvxux0062q.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_tvxux0062q.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_tvxux0062q.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_tvxux0062q.svg#阿里汉仪智能黑体') format('svg');
  /* iOS 4.1- */
}


/* 站酷高端黑 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_zuy1w22etcl.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_zuy1w22etcl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_zuy1w22etcl.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_zuy1w22etcl.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_zuy1w22etcl.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_zuy1w22etcl.svg#站酷高端黑') format('svg');
  /* iOS 4.1- */
}


/* 庞门正道标题体2 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_z8uzieurz7h.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_z8uzieurz7h.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_z8uzieurz7h.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_z8uzieurz7h.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_z8uzieurz7h.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_z8uzieurz7h.svg#庞门正道标题体2') format('svg');
  /* iOS 4.1- */
}


/* 思源黑体-极细 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_ejxtp3ft14a.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_ejxtp3ft14a.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_ejxtp3ft14a.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_ejxtp3ft14a.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_ejxtp3ft14a.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_ejxtp3ft14a.svg#思源黑体-极细') format('svg');
  /* iOS 4.1- */
}


/* 思源黑体-粗 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_kb48c3dsctr.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_kb48c3dsctr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_kb48c3dsctr.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_kb48c3dsctr.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_kb48c3dsctr.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_kb48c3dsctr.svg#思源黑体-粗') format('svg');
  /* iOS 4.1- */
}


/* 思源黑体-超粗 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_6o32zs5d5mq.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_6o32zs5d5mq.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_6o32zs5d5mq.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_6o32zs5d5mq.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_6o32zs5d5mq.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_6o32zs5d5mq.svg#NotoSansHans-Black') format('svg');
  /* iOS 4.1- */
}


/* 思源黑体-常规 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('http://at.alicdn.com/t/webfont_ijjtuv4hjif.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/webfont_ijjtuv4hjif.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/webfont_ijjtuv4hjif.woff2') format('woff2'), url('http://at.alicdn.com/t/webfont_ijjtuv4hjif.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/webfont_ijjtuv4hjif.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/webfont_ijjtuv4hjif.svg#NotoSansHans-DemiLight') format('svg');
  /* iOS 4.1- */
}